[2016-09-10 17:34] leo commented on #15
No features in here

[2016-09-10 17:34] leo commented on #16
No features in here

[2016-09-12 15:04] jonscottclark commented on #27
I should also mention that I told the domain administrator to set their name servers to two of the `zeit.world` locations and he's confirmed that he's done that. Haven't seen for my own eyes, though.

[2016-09-12 15:11] leo commented on #27
@jonscottclark I don't think that's the reason for this error, but like mentioned [here](http://zeit.world), you should use at least 4 name servers.

[2016-09-12 15:29] jonscottclark commented on #27
Ok, I've followed up with the administrator to add 2 more.

[2016-09-12 16:27] rauchg commented on #24
@leo what version of Node?

[2016-09-12 16:28] rauchg commented on #23
@leo pretty sure I fixed this issue. @quarterto can you confirm?

[2016-09-12 16:37] leo commented on #24
@rauchg :trollface: Hmm... No idea. @yangg?

[2016-09-12 16:39] nkzawa commented on #24
I investigated this bug a bit in the past, and could reproduce it by Node v6 and Git Bash.

Basically, it's because `setRawMode` method doesn't exist when environment is not TTY.
so we can do `if (process.stdin.setRawMode) ...`, but, since `email-prompt` module requires `setRawMode`, we would have to fix the module a lot.

[2016-09-12 16:39] rauchg commented on #24
I see. Why wouldn't git bash give us a TTY :O ?

[2016-09-12 17:17] jonscottclark commented on #27
I tried a number of whois lookup websites and some said the TLD wasn't supported, others responded with empty information. Took about 6 or 7 tried before I found one that worked.

[code]

This is what I got from http://whois.domaintools.com/

[2016-09-12 17:18] leo commented on #27
@jonscottclark btw: `nslookup leo.im`

[2016-09-12 17:21] jonscottclark commented on #27
@leo

[code]

[2016-09-12 17:24] jonscottclark commented on #27
Could there potentially be a `--force` option if we can verify by some other means that the nameservers are legitimate?

[2016-09-12 17:41] leo commented on #27
@jonscottclark That's interesting! If `nslookup` doesn't work, the name servers probably aren't set up properly. I'm not sure but it might also be related to now checking the name servers from your local device. Maybe your device doesn't yet know that there are new name servers behind the domain...

[2016-09-12 18:04] jonscottclark commented on #27
@leo I tried clearing my DNS cache and it still failed.

I'll try with a .com domain and let you know if I run into the same issue.

[2016-09-12 21:15] apaleslimghost commented on #23
Sorry @rauchg, still seeing this issue with now 0.25

[2016-09-13 06:31] leo commented on #28
Thanks!

[2016-09-19 12:38] OlliV commented on #27
What's the status?

[2016-09-19 15:36] jonscottclark commented on #27
It was discovered that the NIC responsible was/is having issues — though I wasn't told specifically what the issues were.

For what it's worth, the only site that seems to be able to return WHOIS information for .bm domains at time of writing is http://whois.domaintools.com/ — others returned no data, or threw an error.

I suppose the issue really is just how to handle 500 errors — and the fact th

[2016-09-19 16:03] bpartridge83 commented on #18
@leo I didn't see a resolution for this Issue when it was migrated over.

[2016-09-19 16:38] leo commented on #18
@bpartridge83 Sadly, the old repo was deleted so the link doesn't work anymore. Would be super cool if you could post the exact issue + description again! 🙈

[2016-09-19 17:06] OlliV commented on #34
Which function is returning that status code?

[2016-09-19 17:59] leo commented on #34
@OlliV This endpoint: https://zeit.co/api#get-endpoint

[2016-09-19 19:19] bahmutov commented on #34
yeah, I am deploying via API and then polling the get-endpoint. READY is good,
and if DEPLOYING or BOOTED I am waiting more, but FROZEN is considered an error, and I am not sure if this is correct assumption.

https://github.com/bahmutov/now-pipeline/blob/master/src/index.js#L67

[2016-09-25 23:17] aranajhonny commented on #24
Todavía no funciona en esta terminal. @rauchg
![screenshot](https://cloud.githubusercontent.com/assets/9091881/18818952/0a0261a6-835d-11e6-815d-20d8ae6dcd67.png)

[2016-09-30 21:00] chrisdwheatley commented on #57
Thanks! This tripped me up the other day.

[2016-10-01 05:56] leo commented on #57
Nice find, thanks!

[2016-10-01 09:12] andywer commented on #15
Hey there! I am facing the same situation. @leo closed his issue, but what is the outcome?

Can I set the region somehow?

Thx! :)

[2016-10-02 23:29] leo commented on #61
Thanks!

[2016-10-03 00:27] leo commented on #60
Are you setting `NODE_ENV` to "production" somewhere?

[2016-10-03 00:27] leo commented on #29
Yes!

[2016-10-03 00:48] simonexmachina commented on #15
I was told by @rauchg:

But I never managed to find out the name of the field 😉

[2016-10-03 02:14] jstejada commented on #60
@leo, thanks for getting back to me.
In fact it is-- I want to deploy a production build, so I set it to production so webpack builds the production build. What would be the expected workflow for this scenario?

[2016-10-03 12:41] leo commented on #60
http://webpack.github.io/docs/cli.html#production-shortcut-p

[2016-10-03 15:32] leo commented on #15
We'll be documenting this very soon! Since this is a feature we're working on secretly, this is the only thing I can tell you... 😊

[2016-10-03 17:41] jstejada commented on #60
right I'm already using -p, but I want to set `NODE_ENV=production` to pass it down to React so it uses prod mode, via `DefinePlugin` (see https://facebook.github.io/react/docs/package-management.html)

In case anyone arrives here, instead of using `now -e NODE_ENV=production`, I just made my build script look like this:

[code]

it would be nice to add some docs indicating that NODE_ENV determine

[2016-10-06 11:17] leo commented on #64
❤️ Much better!

[2016-10-09 01:07] addyosmani commented on #22
I unfortunately ran into this problem today. None of the `preinstall` and `postinstall` scripts I had in my package were being successfully run using Now during deployment.

[2016-10-17 20:37] leo commented on #1
[Here](https://github.com/zeit/now-app/blob/master/src/main/actions/logout.js)'s an example of how we're revoking the token in Now.app.

[2016-10-17 20:40] leo commented on #62
Running `npm run pkg` generates the enclosed binary (with node in it).

[2016-10-17 21:27] rase- commented on #34
`FROZEN` means that the deployment hasn't receiven traffic for a really long time, and has been temporarily hibernated. Do you get this while deploying? :thinking:

[2016-10-17 21:29] bahmutov commented on #34
I was getting this for new deploys, and I think there were code changes in each,

Sent from my iPhone

[2016-10-17 23:53] OlliV commented on #34
I had completely forgot this issue. We have since made a ton of improvements to the logic determining if the deployment is idling. Have you still seen this issue during the last weeks?

[2016-10-18 07:47] bahmutov commented on #34
I will close the issue then for now and if I see it ever again will reopen.

[2016-10-18 16:04] codyzu commented on #1
Looks like Now.app revokes the token by calling:
**DELETE:** `https://zeit.co/api/www/user/tokens/{tokenId}`

What is the api call for now? Will this work?
**DELETE:** `https://api.zeit.co/now/registration/{token}`

@leo can you confirm on the server side what the api call should be?

[2016-10-19 13:13] codyzu commented on #2
@rauchg I have been looking into this issue.

Can you clarify the expected vs actual behavior?

According the the [npm docs](https://docs.npmjs.com/files/package.json#main), `main` is only used to define the default import when a consumer requires (or imports) an npm module. This is also described in the [node.js module docs](https://nodejs.org/api/modules.html#modules_all_together).

Can you desc

[2016-10-20 13:58] codyzu commented on #8
How do you guys feel about switching from minimist to [commander](https://www.npmjs.com/package/commander) for the options parsing?

I think this will help with #3, #8, and  #9. I think we can have better "fail fast" functionality and more descriptive code by moving to commander. It should remove a lot of the manually verification of options.

I'm working on an idea for #3 with commander, but I wa

[2016-10-20 18:21] OlliV commented on #8
I have been playing around with commander and it feels pretty good and simple to use. @leo @rauchg what do you think?

[2016-10-20 19:59] leo commented on #8
Commander might be the industry's most used package for this purpose, but it's actually full of old code and bloated with unnecessary stuff. Let's go with [args](https://github.com/leo/args) (like now-serve and list)! 😊

[2016-10-21 15:44] leo commented on #8
Is anyone interested in switching the project to args? Because that would it make it a lot easier for me to merge now-serve into now. If not, I'll tacke it!

[2016-10-21 17:03] codyzu commented on #8
@leo I worked out a proof of concept locally for #3, but it's independent of the args parser. So I haven't looked yet migrating to args. I don't want to slow you down if you're ready to make that migration.

I had a question fail fast (this issue and #8) and args. What I saw with how we use minimist and args is that each command checks the flags when it needs them. I guess we can move all of those

[2016-10-23 14:30] maximilianschmid commented on #15
+1 region selection

[2016-10-24 09:55] apaleslimghost commented on #23
@rauchg seems to be fixed with 0.25.1 and above, thanks!

[2016-10-24 10:31] leo commented on #23
Yey!

[2016-11-16 11:45] leo commented on #62
https://github.com/zeit/now-app/issues/177

[2016-11-22 20:40] NekR commented on #22
Same here. For me `postinstall` generated required files and my app cannot build/start without them so it constantly fails.

[2016-11-26 12:13] codyzu commented on #1
Looking through old issues... @leo any update on this?

[2016-11-26 16:01] leo commented on #1
Yep, that's how it should be done. Not sure if he's talking about deleting the token from `~/.now.json` or about revoking it through the API. Can you test that, @codyzu? If the former is already the case, then the latter needs to follow.

[2016-11-27 00:49] codyzu commented on #1
@leo ok I'll try to take a look tomorrow.

[2016-11-30 20:26] codyzu commented on #8
@leo I've been looking at this again. I'm looking at how it could work with [args](https://github.com/leo/args), but I don't see an obvious way to catch unknown flags. I see minimist has the `unknown` config param that is called for unknown params, but it's not (yet) propagated into args.

Am I missing something? Or is this something we would want to add to args?

[2016-11-30 20:32] leo commented on #8
@codyzu Looks like a great addition to me! Also: https://github.com/leo/args/issues/45

[2016-11-30 21:28] rauchg commented on #8
We started using commander, but for example we didn't have the ability to override quitting to make it wait on the update checker. It's very opinionated and tends to be quite inflexible sometimes.

[2016-11-30 21:29] rauchg commented on #8
tl;DR: I'd rather re-implement checking for unknown flags rather than trade off flexibility

[2016-11-30 21:52] codyzu commented on #8
I assumed there must be a back story behind not using commander. That makes sense.

Thanks @leo, looks like leo/args#45 is the way to go. I'll look at that first...

[2016-12-03 12:38] leo commented on #2
@TooTallNate

[2016-12-03 23:34] TooTallNate commented on #2
Is this related to file upload whitelisting, and forcing the `main` file to be included in that whitelist?

[2016-12-04 08:59] leo commented on #2
@TooTallNate Two things:

1. Are we throwing an error if `.js` is missing, maybe?
2. Are we using the property to run `node <main-file>`, maybe (which then only works with the extension, not without it)?

I don't think it's about file upload whitelisting... 🤔

[2016-12-04 15:19] viczam commented on #22
This is a show stopper for me. I use lerna and I `learn bootstrap` as a postinstall script.

[2016-12-04 16:38] tad-lispy commented on #22
The workaround is to deploy a Docker image that contains your Node app.

[2016-12-12 17:42] leo commented on #11
I'd say no. Let's just go on with how it works atm and make it deploy the current directly immediately.

[2016-12-12 18:02] leo commented on #11
https://github.com/zeit/now-cli/commit/af76505c9e02ad79f739e5c729c89c8b1973bcc4

[2016-12-12 18:03] leo commented on #12
works now!

[2017-01-05 09:46] OlliV commented on #13
I don't think there is any command handling it properly.
For example:

[code]

[2017-02-21 17:46] leo commented on #15
We're on it!

[2017-02-21 17:47] leo commented on #22
Should work just fine now!

[2017-02-22 01:22] gmaliandi commented on #22
Hi @leo  - I just deployed a project that has a `postinstall` script and it didn't run. Is this already fixed? When will this start running the `postinstall` scripts? (I can send you the link to the deploy by Slack if you want)

[2017-02-22 02:30] gmaliandi commented on #22
(nevermind, it's working now!)

[2017-02-28 21:20] mreinstein commented on #24
I've run into this issue as well. Would you accept a PR to check for lack of `process.stdin.setRawMode` in various places and `process.exit(1)` with a friendly error?

[2017-03-01 07:14] leo commented on #24
@mreinstein Would it be possible to rewrite [email-prompt](https://github.com/zeit/email-prompt) to support his instead of breaking right away?

[2017-03-02 20:40] mreinstein commented on #24
@leo it might be possible, but there several places where `process.stdin.setRawMode` is used directly:

https://github.com/zeit/now-cli/search?utf8=%E2%9C%93&q=setRawMode

Another issue that adds complexity: most `now-cli` commands don't accept input; only a handful do. The ideal solution would only prevent usage of this program when running a subcommand that relies on `setRawMode`, so the rest of

[2017-03-10 18:13] mreinstein commented on #6
@rauchg  https://www.npmjs.com/package/upsocket automatically handles re-connects with buffering. Might provide a reasonable solution to this. Obviously biased since I wrote it. :)

[2017-06-02 06:00] hongymagic commented on #15
Are there any updates to this? Region latency from Australia/Sydney is pretty bad right now and would love to be able to change this to default to region closer to where my customers are.

[2017-06-07 18:09] debianw commented on #15
I'm having critical latency issues too. Could this be related to a region ? #592

[2017-06-09 16:22] davemcorwin commented on #24
I'm experiencing the same issue when providing my auth token on deploy:
[code]

[2017-06-09 17:14] leo commented on #24
We're happy to accept a PR for this!

[2017-06-09 18:12] davemcorwin commented on #24
Of course! Let me make sure I understand the issue.

In my case, i'm running the `now` cli commands in a CI environment/shell that is not a tty. So there won't be any interactive input to read and I can probably just skip all calls to `process.stdin.setRawMode` if `process.stdin.isTTY === false` ([Node TTY](https://nodejs.org/api/tty.html))

Are there other situations where this would cause an iss

[2017-07-07 06:15] rauchg opened #1 "Make sure https://git.io/* points to the right place"
We use `git.io` URLs in some places

[2017-07-07 06:16] rauchg opened #2 "Add support for now <file>"
Support for `now <file>`, with support for:

- Binaries as a first-class deployment type
- Static deployments as a fallback

[2017-07-07 06:16] rauchg opened #3 "Add kubernetes backend"

[2017-07-07 06:17] rauchg opened #4 "Add example of deployable dashboard"
Running the event feed and basic switcher from https://zeit.co

[2017-07-07 08:13] matheuss opened #5 "Create a `minimist` wrapper that validates a schema"
It'd, upon a `false` by default `throwOnUnexpectedFlag`, throw if you define `{boolean: ['version']}` and the program is called with `--testing`

[2017-07-07 21:35] rauchg opened #6 "Discover custom providers based on presence of `now-*` binaries in $PATH"

[2017-07-09 02:18] rauchg opened #7 "Improve github resolver"
For example:

- Is it the right character set that we are testing for?
- How should we handle support for private keys?

[2017-07-09 07:50] matheuss opened #8 "Fix `prompt-bool`'s behavior upon ANSI escapes"
1. `now aws login`
2. Decline to use AWS's auth config (if asked for)
3. Press `ctrl+n`
4. Press `ctrl+c`
5. See this crap (run `reset` to fix your prompt)
![image](https://user-images.githubusercontent.com/4721750/27992108-295e5f00-6462-11e7-91d7-27c4b776c25d.png)

[2017-07-09 08:42] matheuss opened #9 "Figure a way to enable providers to return something to us (aka `now.js`)"
We could, for example, let providers use `return 1` to indicate that the they want `process.exit(1)`.

Would be nice here: https://github.com/zeit/now/commit/a1dd06290a784311b05f3e486d609b832a1444de#diff-cec70a08c11a260d44b518126d174623R119

[2017-07-10 04:00] matheuss opened #10 "Add a logo to the GCP app"
We need a 120px wide (😫) black on white logo to be shown when we ask the user to give us access to their GCP.

Let's use ZEIT's triangle, @rauchg @evilrabbit?

[2017-07-10 04:05] matheuss opened #11 "Show a nice page after getting access to GCP"
1. `now gcp login`
2. You'll see this:
<img width="45%" src="https://user-images.githubusercontent.com/4721750/28002443-96932f84-650b-11e7-9eac-77e4866c199c.png">
3. After clicking on `cancel` or `allow`, you'll see this:
<img src="https://user-images.githubusercontent.com/4721750/28002460-b798d724-650b-11e7-8672-492ea235564b.png">

We can show anything there, even redirect the user to zeit.co/sth

[2017-07-10 05:17] rauchg opened #12 "Look into more efficient proxy solutions to the target processes from the cloud functions"
For example:
https://github.com/GoogleCloudPlatform/cloud-functions-go/blob/master/local_modules/execer/execer.cc

[2017-07-10 05:55] rauchg opened #13 "Better optimize the bridge for nodejs serverless deployments"
Right now, we spawn a new child where we invoke the user-supplied http server.
However, since our shim is in Node.js, we can simply `require` and avoid extra I/O, copy, parsing time, etc.

[2017-07-10 12:13] rauchg opened #14 "Make creation of serverless bundles dependent on code changes"
Right now we're appending a timestamp as a workaround.

Some possibilities:
- Piggybacking on `.git` if present
- Hashing contents of staged files

[2017-07-10 12:14] rauchg opened #15 "Implement `.now` output directory upon deployment"
Similar to `.git`, but for us to keep track of:

- Who originated the deployment and other important metadata
- Potentially a log of deployments?

[2017-07-13 15:22] eoinmurray opened #16 "Getting a 'storage.objects.create' access error on GCP deployment"
Yo!,

Tried to deploy the example microservice to our GCP account and got

[code]

When I check the bucket 'now-deployments' doesn't exist, so not sure what I'm supposed to do with permissions.

Do I need to set special permissions on the account I logged in with?

[2017-07-13 15:27] eoinmurray commented on #16
So 'now-deployments' is actually a Zeit bucket - so it appears that some permission issue that I cannot fix myself.

[2017-07-13 15:32] remy opened #17 "now@8.0.0-beta.1 [subcommand] fails"
I've run `now aws login` and created new credentials, these are successfully saved in `~/.now/auth.json`.

I've deployed successful (in theory) with `now` to aws (though it [returns a 500](https://atse1q3lw1.execute-api.us-west-1.amazonaws.com/now) - I'll follow up separately). However, any other command fails:

<img width="1280" alt="screen shot 2017-07-13 at 16 30 01" src="https://user-images.gi

[2017-07-13 16:01] rosskukulinski commented on #3
@rauchg let me know if you have questions regarding the Kubernetes ecosystem and/or APIs.  I'm loving the progress you're making with the Now Universal announcement today.

[2017-07-13 16:20] jdan commented on #17
(fwiw same issue on the 500 - looking forward to your issue so I can 👍 it too!)

[2017-07-14 05:19] aerickson commented on #10
https://zeit.co/logos has SVG's that can be scaled to any size.

[2017-07-14 06:58] tarex opened #18 "SyntaxError: Unexpected identifier"
Having syntax error while using `now@beta` , version is `now@8.0.0-beta.1`
node version `7.3.0` , npm `5.2.0`
[code]

Am I missing something ?

[2017-07-14 07:05] rauchg commented on #18
Can you try with Node 8 in the mean time? The eventual release with be rolled out with [`pkg`](https://github.com/zeit/pkg)

[2017-07-14 07:09] tarex commented on #18
Thanks for the quick response, its working now 👍

[2017-07-14 07:09] #18 closed

[2017-07-14 12:59] matheuss commented on #10
@Qix- they don't but I think it'll appear on a blue background.

@evilrabbit can you send me a png over please? 🙏 I think it's better to use Now's triangle 👍

[2017-07-14 13:18] evilrabbit commented on #10
There we go!

![now-120x120 1x](https://user-images.githubusercontent.com/6880091/28213738-c69b9a02-687d-11e7-8f54-aef810f3151a.png)
![now-120x120 2x](https://user-images.githubusercontent.com/6880091/28213739-c6a470d2-687d-11e7-8b48-f63b5636c7b9.png)

[2017-07-14 17:07] aaronshaf opened #21 "`now aws login` fails"
I am trying to follow directions to try out the new Universal Now feature. I get:

[code]

Any ideas?

[2017-07-14 17:12] #21 closed

[2017-07-14 17:18] aaronshaf opened #22 "Error when deploying to AWS"
After following the directions:

[code]

Any ideas? My user has the `AdministratorAccess` policy.

[2017-07-14 17:20] aaronshaf commented on #22
I redid it and it worked :-)

[2017-07-14 17:20] #22 closed

[2017-07-14 22:21] bryanhelmig opened #23 "Autocomplete login acts funny."
When I type `bryan@zapier.com` as my email, it autocompletes `@zeit.co`, but then adds the `eit.co` to the end of the address after I complete finishing our domain.

[code]

If the `^` carrot is me pushing enter, it visually parses to something like this `bryan@zapier.com^eit.co`.

[2017-07-14 23:53] rauchg commented on #23
Sounds like an issue in https://github.com/zeit/email-prompt, for whoever wants to take a look!

[2017-07-15 19:40] thisguychris opened #24 "can't deploy using now"
getting this error `Error! An unexpected error occurred in provider deploy: Error: Cannot find module 'progress'`

using `8.0.0-beta.1`

[2017-07-15 22:44] e-beach opened #25 "Uncaught ReferenceError on `now aws login`"
Trying out this library on Windows (Git-Bash), I got an exception immediately:
[code]

OS: `Windows 10 x64`
node version: `v8.1.4`
npm version: `5.0.3`

[2017-07-16 01:21] e-beach commented on #25
I would also argue that a tool that aspires to be a universal deploy engine ought to work on Git-Bash (I had to use cmd.exe).

[2017-07-16 15:25] e-beach opened #27 "Creating AWS API Resources: InvalidParameterException"
The my-project directory contains the sample node server from the README. I'm using Windows 10, node v8.1.4, now 8.0.0-beta.1

[code]

[2017-07-16 15:33] e-beach commented on #27
I ran the command again and it worked, but that doesn't mean problem is solved. This problem must occur with timing of editing Amazon Trust Relationships  as discussed in https://stackoverflow.com/questions/36419442/the-role-defined-for-the-function-cannot-be-assumed-by-lambda.

[2017-07-16 16:56] matheuss commented on #10
Added it, and... I thought they were going to show the logo here 🙄
![image](https://user-images.githubusercontent.com/4721750/28249558-7b9cfaca-6a2e-11e7-8280-fc42f3848f0d.png)

Thanks anyways @evilrabbit 🙌

[2017-07-16 16:56] #10 closed

[2017-07-17 20:54] tomyo opened #28 "Extrange error in server (internal/streams/legacy.js:59)"
internal/streams/legacy.js:59
      throw er; // Unhandled stream error in pipe.
      ^

Error: write EPROTO 140217767479104:error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure:../deps/openssl/openssl/ssl/s23_clnt.c:769:

    at exports._errnoException (util.js:1018:11)
    at WriteWrap.afterWrite (net.js:800:14)

[2017-07-18 04:43] thisguychris commented on #24
just want to add more context here, I've added `aws` credentials and it made it the default deployment.  Now trying now sh deploy give's that error.

[2017-07-19 09:04] #25 closed

[2017-07-19 09:08] nkzawa opened #29 "Git Bash support on Windows ?"
See: https://github.com/zeit/now/issues/25

[2017-07-19 09:09] nkzawa commented on #25
@e-beach yeah, makes sense. Created issue about Git Bash https://github.com/zeit/now/issues/25 .

[2017-07-19 12:04] nkzawa commented on #8
This problem doesn't happen with iTerm. Can it be an issue of Hyper?

[2017-07-19 12:38] nkzawa commented on #1
https://git.io/now-global-config redirects to a wrong url https://github.com/zeit/now#global-config. It has to be https://github.com/zeit/now#global-configuration

[2017-07-19 12:41] matheuss commented on #8
Hmm indeed, @nkzawa, I can't reproduce it on Terminal.app. Closing then – not in the scope of this work to fix Hyper 👌

[2017-07-19 12:41] #8 closed

[2017-07-19 14:25] nkzawa commented on #16
@rauchg @matheuss It looks bucket names must be globally unique, so just `now-deployments` wouldn't work 😂
I'm not sure how the bucket names should be generated since there are some restrictions https://cloud.google.com/storage/docs/naming#requirements

[2017-07-19 14:53] #24 closed

[2017-07-20 01:13] nkzawa commented on #27
Thanks for the report 👍
I can reproduce the issue by removing the `now-default-role` role and run `now aws deploy`.

[2017-07-20 02:39] nkzawa commented on #17
Unfortunately, these subcommands are not implemented yet. We're working on it!

[2017-07-20 04:09] #27 closed

[2017-07-20 07:42] remy commented on #17
Should I even be able to deploy to aws using now? Only because that failed
too with a 500 with a simple hello world.

On Thu, 20 Jul 2017, 03:39 Naoyuki Kanezawa, <notifications@github.com>
wrote:

[2017-07-20 09:43] nkzawa commented on #17
@remy Umm, that should work. Let us know error messages and how your files look like if possible.
I just confirmed putting `server.js` to a dir and `now .` work fine for me.

[code]

[2017-07-21 00:36] e-beach opened #34 "Building source / npm install fails."
A host of errors comes with running `npm install`.

`yarn run test` still errors-out on legacy code despite e061c9b.  Adding a` .eslintignore` file for legacy files fixes it.

After this change, eslint still produes a bunch of errors:
[code]
You probably know why this is but I don't.

[2017-07-21 00:38] e-beach commented on #34
Disabling tests and executing `./now.js` gives this error:
[code]

[2017-07-21 01:37] nkzawa commented on #34
About eslint, I think only `out` dir is the issue ? https://github.com/zeit/now/pull/35 should fix.

[2017-07-21 02:13] e-beach commented on #34
@nkzawa Pulled and it still doesn't work for me. The `src` directory is the problem. I know the `eslintignore` in `package.json` covers it but the `eslint` script seems to ignore it.

[2017-07-21 02:34] nkzawa commented on #34
Fix flow errors https://github.com/zeit/now/pull/36

[2017-07-21 02:37] e-beach commented on #34
Nevermind, `eslint` works on fresh clone.

[2017-07-21 02:43] nkzawa commented on #34
@e-beach hmm I can't reproduce `TypeError: Cannot read property 'forwardNpm' of undefined` error. Let me know how to do that if possible.

[2017-07-21 02:53] matheuss commented on #34
@e-beach what's the output of `cat ~/.now/config.json`?

[2017-07-21 03:31] e-beach commented on #34
[code]

[2017-07-21 03:31] #16 closed

[2017-07-21 03:44] e-beach commented on #34
I removed the file and the same error occured.

[2017-07-21 03:50] matheuss opened #37 "Add caching logic similar to now-cli's"
In the current `now-cli` we have a logic to store the user details (username, email etc) with a TTL of 8h.

I didn't copy it over when copying the login/deployment code over because I want to improve it. I'd want `~/.now/cache.json`, that'd be used specifically to store stuff like that. Specially because username, for example, is not a configuration option – it depends on the API token.

@rauchg @

[2017-07-21 03:55] matheuss commented on #34
Hmmm interesting – we're populating `sh` there upon `now sh login` Did you edit it manually after?

[2017-07-21 04:08] e-beach commented on #34
@matheuss Checked my bash history, and I deleted the file once but did not edit it.

[2017-07-21 04:10] matheuss commented on #34
Right, then that's it 👍 Waiting on #37 to fix the behavior of the config file. Thanks for reporting! 🙌

[2017-07-21 04:10] #34 closed

[2017-07-22 19:12] e-beach commented on #29
Although `setRawMode` is necessary to detect input before the user hits the enter key, `now` shouldn't require this feature. For example, the email-prompter should read in an email but offer now prompting in this case.
Environments without `setRawMode` include Git-Bash, IDEs (at least anything JetBrains), and cloud computing like `repl.it`, which seems an awful lot to lose for tab completion.

[2017-07-22 19:15] matheuss commented on #29
@e-beach yeah it's very easy fix – I'll implement it today 😄 Just a matter of accepting whatever needed on `argv`, and printing a nice message if `setRawMode` is not available 👌

[2017-07-22 21:07] e-beach opened #39 "Docker Support?"
Are Docker based projects supported for now@beta? I get this error for a project which works using now@7.2.4.

[code]

[2017-07-25 17:11] raphaelkross commented on #3
@rauchg any specific place where Kubernetes support is being planned? Would love to contribute w/ that, in fact, I was working in something like that - but would love put my effort on this project instead.

[2017-08-02 12:00] mixn commented on #34
@OlliV I’ve had a 1,5 day old deployment freeze when I sent it to a client for review. Will this be happening if I `alias` it to a real domain (and it doesn’t get much traffic), too?

If so, that would be kinda bad.

Thank you in advance!

[2017-08-03 14:03] callumlocke opened #40 "AccessDenied when trying to deploy to AWS Lambda"
I get this error when I do `now aws` (user details censored):

[code]

I'm not able to give total "AdministratorAccess" on my company's AWS account. I have to request a minimal set of permissions and wait to get it approved. From the above it looks like I need a policy that allows the `iam:GetRole` action. Can you tell me what other actions I need to allow? A minimal sample policy would be useful.

[2017-08-03 14:50] AngelKyriako opened #41 "[Question] Server bandwidth metric"
- Question 1:
The bandwidth stated in the pricing section is accumulated based on both the inbound & inbound requests ?

I have a setup as follows:
- A node instance which communicates with a client only via REST HTTP.
- The node instance communicates with another mongolab instace to store or retrieve data.

I am in the process where I want to measure and get an average byte size for the bandwidth

[2017-08-03 23:16] babakness opened #42 "Feedback on v1 release of now.json @beta"
Feature request:

Being able to launch a service into a VPC so that it can access services (like a database) would be awesome. Perhaps there could be a key for "vpc" in now.json accompanied by the matching function.

I have noted that there "regions" key which is an array. If launch simultaneously to multiple region, I suppose the idea here is to load balance between them? Perhaps, then, vpc is an

[2017-08-03 23:55] babakness commented on #40
I had this error, I had to grant the right permissions for this work. What I did is create a new custom policy assigned to an API user then added permissions to that policy until it work. The one tricky thing for me was the API Gateway permissions, for which you might need to reference the exact resource, ie, `arn:aws:apigateway...`

[2017-08-06 18:28] gianpaj commented on #18
What's the min required version of Node and npm?

I'm getting the same issue with:
[code]

[2017-08-08 03:16] matheuss opened #43 "Use `pkg`"
We should use [zeit/pkg](https://github.com/zeit/pkg) in the same way we use it on [zeit/now-cli](https://github.com/zeit/now-cli)

[2017-08-08 03:25] matheuss opened #44 "Add a system to notify the user about updates"
Even tho we'd like to have everyone running Now Desktop, we can't rely on it. We should have a system that notifies the user about updates. Not sure if any of the existent solutions will work for now, since we're at `8.0.0.beta-N`. I wonder if semver will consider `8.0.0.beta-2` bigger than `8.0.0.beta-1`, and then `8.0.0` bigger than any beta 🤔

I think a simple `lastCheckedForUpdates` once we ha

[2017-08-08 14:06] captDaylight opened #45 "Secret being set incorrectly"
setting a secret with:

`now secrets add email_pass "u5wV@#om$cLwAZC&mmlB3*2ly&Mm8bkv@54JOZ4N"`

is getting the secret passed to my app as:

`u5wV@#om&mmlB3*2ly&Mm8bkv@54JOZ4N`

I'll put them one on top of each other to inspect them easier, first the original and then the output.

[code]

I fixed this by changing the value to only numbers and letters, but I imagine this is unexpected behavior.

[2017-08-09 09:43] lipp opened #46 "Is there any release scheduled supporting Azure (az) ?"

[2017-08-11 00:36] rkrueger11 opened #49 "Error: Cannot find module './static'"
When attempting to deploy a static site (Next export), I get the following error:

[code]

and it never actually builds or bundles. 😢

[2017-08-11 02:16] DonnieWest commented on #49
It looks like we're missing the `static.js` file in the https://github.com/zeit/now/tree/master/src/serverless/builders folder. The only one currently available is nodejs. I'm able to replicate it on my end and a workaround for the time being would probably to create a minimal package.json that uses https://github.com/zeit/serve to serve the static files. I _think_ that's what they basically do be

[2017-08-14 06:41] jeffreywescott opened #50 "request: support deploying "stacks" via docker compose"
Loving now (and Next.js, too). Thanks for all of the hard work.

- [x] I have searched the [issues](https://github.com/zeit/next.js/issues) of this repository and believe that this is not a duplicate.

## Context

It's awesome that Now lets you deploy a Dockerfile. However, it would be amazing if you supported deploying a whole "stack" for an app via a set of `docker-compose.yml` (and similar) fil

[2017-08-15 01:53] gandulio commented on #50
Please add this!

[2017-08-15 14:37] leo commented on #1
✅ 340b8721ac91f47fc694a74e55b6032e70f41f39

[2017-08-15 14:37] #1 closed

[2017-08-15 16:27] leo commented on #43
✅ 7e37d8825cd91fb8cc02afb57e7b207e0ce6a7f5 and d2617270bb5997a01cc092ba6e25eb8eca676d62 - WIP

[2017-08-15 16:27] #43 closed

[2017-08-15 16:36] igorklopov commented on #43
There is a good PR pending. I think it would be great to merge it here https://github.com/zeit/now-cli/pull/727

[2017-08-15 16:40] leo commented on #43
@igorklopov You said that:

If you do think that it helps, please open the PR here, if possible... 😊

[2017-08-15 16:59] leo commented on #44
✅ 06f5ebf111b68bf084d7d835c7abca3a52bbdb38

We had it working on zeit/now-cli already, so I moved it over.

[2017-08-15 16:59] #44 closed

[2017-08-15 18:17] igorklopov commented on #43
Yes, it is definitely useful, as far as i understand how yarn cache works
https://github.com/zeit/now/pull/51

[2017-08-17 13:38] bfred-it opened #52 "Deployment expiration"
It would be nice to have expiring deployments. Especially with space limits it's not fun to manually remove old and useless deployments.

An option like `--expire 2d`

[2017-08-18 08:20] jwahdatehagh commented on #34
It's happening to me even with an aliased custom domain bought through now... How do i prevent this? Do i have to set up a ping bot?! Super annoying for small websites that don't get much traffic...

[2017-08-18 09:18] leo commented on #34
To prevent a deployment from sleeping, you can `now scale` it.

[2017-08-18 09:27] michalkvasnicak opened #53 "Now is always writing default configuration"
I have installed `8.0.0-beta.3` and I have problem that `now` is not picking a configuration, but instead it is always writing default configuration to `~/.now` directory.

First I run `now gcp login`:

I get an output:

[code]

Then I run `now gcp deploy`:

And I get an output:

[code]

I can't deploy a project because it is always using default configuration instead of custom one.

I checked and

[2017-08-18 10:05] jwahdatehagh commented on #34
Which i can't do on the Pro plan... ?

Edit: Aw, i can, thanks... (Tried to autoscale)

[2017-08-18 12:25] leo commented on #53
Should be fixed now. Please download the latest release!

[2017-08-18 12:25] #53 closed

[2017-08-24 22:41] darknoon opened #57 "Deployment on AWS Lambda gives Code 500 Internal Server Error"
I tried deploying a really basic app just to make sure it wasn't my server misbehaving:

[code]

I ran this command (my now beta is installed locally)

[code]

shows:

```{"message": "Internal server error"}```

[2017-08-24 22:41] darknoon commented on #17
@nkzawa I filed this issue since I'm having the same issue https://github.com/zeit/now/issues/57

[2017-08-24 22:43] darknoon commented on #57
My now version is `8.0.0-beta.8`

I'm not sure how to check the logs from AWS; it doesn't seem to be showing up in cloudwatch.

[2017-08-24 22:47] darknoon opened #58 "`now help` no longer lists available subcommands"
I find the beta version significantly harder to use, b/c I can't see what the available subcommands are like `ls`, etc, especially since they might vary among providers (aws, sh, …)

### Old:

[code]

### New:

[code]

[2017-08-24 22:51] darknoon commented on #58
I would expect `now sh help` to at least list the available subcommands for the `sh` provider, but it seems to do the same thing as `now help`.

[2017-08-27 21:32] darahak opened #60 "Command options not visible in cmder"
I use Cmder on Windows and when I use `--help` for any command, I cannot see the options unless I highlight them. Some descriptions are also hard to read because of the low contrast between their background and font color.

I'm not sure if the problem is about Now or Cmder.
Screenshots below.

<details>
<summary>Current display</summary>

![now-default](https://user-images.githubusercontent.com/11

[2017-08-28 15:13] gunar opened #61 "Why does `now` install devDependencies?"
Check out these logs:

[code]

[2017-08-28 16:56] gunar opened #62 "Deploy && Promote"
How can I deploy and promote with a single command? e.g. `now --alias my-production-alias`

[2017-08-28 20:59] gunar commented on #62
Found the answer. Put it under `package.json.now.alias`.

[2017-08-28 20:59] #62 closed

[2017-08-28 22:06] gunar opened #63 "Can I define time-to-sleep?"
Is there any setting I can configure how long to wait for requests before shutting down an instance?
Would love to be able to set it to as low as zero.

[2017-08-28 22:08] TooTallNate commented on #63
Check out `now scale --help`. In short, you can specify a _minimum of 1 instance_ which will never put the deployment to sleep.

[2017-08-28 22:08] #63 closed

[2017-08-29 01:55] gunar commented on #63
@TooTallNate That is the opposite of what I want. I want my instances to shut down faster.

[2017-08-29 01:56] TooTallNate commented on #63
@gunar Oh sorry, I misread. So no, it's possible at this time to control the sleep scheduling algorithm for deployments.

[2017-08-30 03:21] danoc opened #64 "GCP deploy on next@beta throws TypeError"
Hello! When running `now` for a GCP deployment I'm running into:

[code]

Has anyone else seen this issue? I'm using `8.0.0-beta.8`.

[2017-09-01 22:23] leo commented on #2
This issue was moved to zeit/now-cli#756

[2017-09-01 22:23] #2 closed

[2017-09-01 22:24] leo commented on #64
This issue was moved to zeit/now-cli#757

[2017-09-01 22:24] #64 closed

[2017-09-01 22:24] leo commented on #61
This issue was moved to zeit/now-cli#758

[2017-09-01 22:24] #61 closed

[2017-09-01 22:24] leo commented on #60
This issue was moved to zeit/now-cli#759

[2017-09-01 22:24] #60 closed

[2017-09-01 22:24] leo commented on #58
This issue was moved to zeit/now-cli#760

[2017-09-01 22:24] #58 closed

[2017-09-01 22:25] leo commented on #57
This issue was moved to zeit/now-cli#761

[2017-09-01 22:25] #57 closed

[2017-09-01 22:25] leo commented on #52
This issue was moved to zeit/now-cli#762

[2017-09-01 22:25] #52 closed

[2017-09-01 22:25] leo commented on #50
This issue was moved to zeit/now-cli#763

[2017-09-01 22:25] #50 closed

[2017-09-01 22:25] leo commented on #49
This issue was moved to zeit/now-cli#764

[2017-09-01 22:25] #49 closed

[2017-09-01 22:26] leo commented on #45
This issue was moved to zeit/now-cli#765

[2017-09-01 22:26] #45 closed

[2017-09-01 22:26] leo commented on #42
This issue was moved to zeit/now-cli#766

[2017-09-01 22:26] #42 closed

[2017-09-01 22:27] leo commented on #3
This issue was moved to zeit/now-cli#767

[2017-09-01 22:27] #3 closed

[2017-09-01 22:27] leo commented on #4
This issue was moved to zeit/now-cli#768

[2017-09-01 22:27] #4 closed

[2017-09-01 22:27] leo commented on #6
This issue was moved to zeit/now-cli#769

[2017-09-01 22:27] #6 closed

[2017-09-01 22:28] leo commented on #5
This issue was moved to zeit/now-cli#770

[2017-09-01 22:28] #5 closed

[2017-09-01 22:28] leo commented on #7
This issue was moved to zeit/now-cli#771

[2017-09-01 22:28] #7 closed

[2017-09-01 22:28] leo commented on #11
This issue was moved to zeit/now-cli#772

[2017-09-01 22:28] #11 closed

[2017-09-01 22:28] leo commented on #9
This issue was moved to zeit/now-cli#773

[2017-09-01 22:28] #9 closed

[2017-09-01 22:29] leo commented on #13
This issue was moved to zeit/now-cli#774

[2017-09-01 22:29] #13 closed

[2017-09-01 22:29] leo commented on #12
This issue was moved to zeit/now-cli#775

[2017-09-01 22:29] #12 closed

[2017-09-01 22:29] leo commented on #14
This issue was moved to zeit/now-cli#776

[2017-09-01 22:29] #14 closed

[2017-09-01 22:29] leo commented on #15
This issue was moved to zeit/now-cli#777

[2017-09-01 22:29] #15 closed

[2017-09-01 22:29] leo commented on #17
This issue was moved to zeit/now-cli#778

[2017-09-01 22:29] #17 closed

[2017-09-01 22:29] leo commented on #23
This issue was moved to zeit/now-cli#779

[2017-09-01 22:29] #23 closed

[2017-09-01 22:29] leo commented on #28
This issue was moved to zeit/now-cli#780

[2017-09-01 22:29] #28 closed

[2017-09-01 22:30] leo commented on #37
This issue was moved to zeit/now-cli#783

[2017-09-01 22:30] #37 closed

[2017-09-01 22:30] leo commented on #39
This issue was moved to zeit/now-cli#784

[2017-09-01 22:30] #39 closed

[2017-09-01 22:30] leo commented on #41
This issue was moved to zeit/now-cli#785

[2017-09-01 22:30] #41 closed

[2017-09-01 22:30] leo commented on #40
This issue was moved to zeit/now-cli#786

[2017-09-01 22:30] #40 closed

[2017-09-01 22:31] leo commented on #46
This issue was moved to zeit/now-cli#787

[2017-09-01 22:31] #46 closed

[2017-09-18 11:25] irisSchaffer commented on #34
My deploy (which was aliased to a real domain) froze only an hour after deploying though... Surely that can't be right?

[2017-09-18 11:32] TooTallNate commented on #34
@irisSchaffer It's possible, especially if the deployment isn't receiving any traffic. You can `now scale <url> 1` though like @leo mentioned to prevent the sleeping.

[2017-09-18 11:33] irisSchaffer commented on #34
I guess this is tightly connected to https://github.com/zeit/now-cli/issues/511? Will comment there instead!

[2017-10-13 12:13] shogochiai commented on #15
+1 for region selection from Singapore.

[2017-10-23 07:37] sholtomaud commented on #34
@TooTallNate @leo if I run now scale <url> 1

1. Do I get extra charges?
2. Why doesn't the new  Scaled to 1 instance: [1s] URL not list when I run ```now list```?

[2017-11-13 22:22] leo commented on #24
https://twitter.com/zeithq/status/930180257864437760

[2017-12-06 14:25] nicolasdao commented on #15
+1 for region selection from Sydney.

[2017-12-11 07:47] wytanj commented on #15
+1 for Singapore come on @rauchg you were here just last year lol

[2018-01-07 20:48] timhanlon commented on #15
+1 for Sydney

[2018-03-09 03:45] agustif commented on #15
+1 For Europe

[2018-03-15 23:06] rauchg commented on #8
Replaced by #1171

[2018-03-17 03:12] tkshi commented on #15
+1 for Tokyo

[2018-03-23 16:42] edhollinghurst commented on #15
Is there any estimate for when the Brussels region will be available? I'm trying to persuade my client to use Now but they are reluctant without a European region to deploy to.

[2018-03-23 21:24] pranaygp commented on #15
We have a region in EU (in Brussels) that you can deploy to. Check out https://bru.now.sh/ to test your latency to BRU.

To deploy to BRU, you should be able to run:
[code]

[2018-03-25 13:42] edhollinghurst commented on #15
OK great - thanks!

[2018-03-25 14:00] timneutkens commented on #15
Just to be clear, BRU is not in general availability yet. When it's available you'll be able to do something similar to what @pranaygp's showing 👍

[2018-04-05 16:01] clodal commented on #15
Now.sh introduced the BRU1 (Belgium) region 2 days ago. https://zeit.co/blog/multi-dc

[2018-11-08 17:59] leo commented on #6
Thank you so much for the effort you have put into this issue! 😊

However, since we completely re-worked the entire codebase of Now CLI and this issue does not apply to the new code anymore, I'm closing it now.

You can read more about our biggest release yet here: https://zeit.co/blog/now-2

[2018-11-08 18:00] leo commented on #7
Thank you so much for the effort you have put into this issue! 😊

However, since we completely re-worked the entire codebase of Now CLI and this issue does not apply to the new code anymore, I'm closing it now.

You can read more about our biggest release yet here: https://zeit.co/blog/now-2

[2018-11-08 18:00] leo commented on #9
Thank you so much for the effort you have put into this issue! 😊

However, since we completely re-worked the entire codebase of Now CLI and this issue does not apply to the new code anymore, I'm closing it now.

You can read more about our biggest release yet here: https://zeit.co/blog/now-2

[2018-11-13 17:47] leo commented on #13
Let's make this work properly!

[2019-08-09 19:31] TooTallNate commented on #13
Closing, since this is what is shown today:

[code]

[2019-08-14 03:27] TooTallNate commented on #5
Closing because I tested this with the latest Now CLI and got the appropriate error message, once the rate limit was hit.

[2019-12-27 15:16] leo commented on #14
Thank you for creating this issue!

Please note that – in order for us to be able to handle each feature request with care – we have to consume all of them through a unified pipeline that makes it easier for us to prioritize, track and progress on the features our user base is interested in.

In turn, the [Issues tab](https://github.com/zeit/now/issues) on this repository is best only be used for